h3 {
    color: cadetblue;
    text-decoration: underline;
    padding-top: 15px;
    line-height: 1.25em;
}

.asideBKG {
    background-color: cadetblue;
}

.weather-card {
    margin: 0 auto;
}

.weather {

}

.forecast {
    background-color: cadetblue;
    margin: 0 auto;
}

.days-date {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.days {
    color: white;
    font-size: 12px;
}

.city {

}